.footer{
    background-color: var(--blanco);
    /*padding: 5rem 0rem 10rem 5rem;*/
    color: #606060;
    /*width: 100%;*/
    
}

@media (min-width: 768px){
    .footer{
        height: calc(100vh - 220px - 470px);
        padding: 1rem 5rem 10rem 5rem;
    }
}